:root {
  --primary-color: white;
  --secondary-color: whitesmoke;
}

.navbar {
  border-right: 1px solid gray;
  align-items: center;
  width: 20vw;
  position: sticky;
  height: 100vh;
  top: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.buttons img {
  height: auto;
  width: 12%;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 25%;
  height: auto;
}

footer {
  margin-left: 4rem;
  margin-top: 1.4rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  background-color: var(--secondary-color);
  border-radius: 15%;
  width: 16vw;
  height: 12vw;
  font-size: 1.3rem;
  margin-left: 1.6rem;
}

.avatar {
  border-radius: 50%;
  size: 50px;
}

.name {
  font-size: 1.4rem;
}

.other {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  color: gray;
}

.trzy {
  margin-left: 3rem;
}

button {
  background-color: rgb(49, 39, 39);
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
}

button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}
